<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-0lax{text-align:left;vertical-align:top}
</style>
<table class="tg">
<thead>
  <tr>
    <th class="tg-0lax"><img src="https://www.autonocion.com/wp-content/uploads/2021/07/Lamborghini-Aventador-LP-780-4-Ultimae-14-1130x636.jpg" alt="Lamborghini" width="400" height="300"></th>
    <th class="tg-0lax"><img src="https://i0.wp.com/irecetasfaciles.com/wp-content/uploads/2019/08/pizza-de-jamon-queso-y-tocino.jpg?w=900&ssl=1" alt="Pizza" width="398" height="400"></th>
    <th class="tg-0lax"><img src="https://store-images.s-microsoft.com/image/apps.5069.71475369522469696.112bf975-f54d-4d34-b915-6ce0f433ad0e.a629b50a-484a-40d4-9465-f926024e83bc?q=90&w=177&h=265" alt="Games" width="177" height="265"></th>
    <th class="tg-0lax"><img src="https://www.lacasadeel.net/wp-content/uploads/2021/09/meme-de-Spider-Man.jpg" alt="Spiderman" width="177" height="265"></th>
  </tr>
</thead>
<tbody>
  <tr>
    <td class="tg-0lax"><span style="font-weight:bold">LAMBORGHINI</span></td>
    <td class="tg-0lax"><span style="font-weight:bold">PIZZA</span></td>
    <td class="tg-0lax"><span style="font-weight:bold">VIDEOGAMES</span></td>
    <td class="tg-0lax"><span style="font-weight:bold">SPIDERMAN</span></td>
  </tr>
</tbody>
</table>